@import url(//db.onlinewebfonts.com/c/00370d92f1b404768d34ac7dc664289e?family=Sansation);

* {
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
}

.container{
    margin: 0 auto;
    width: 1000px;
}

.main_service{
    width: 1000px;
    height: 552px;
    background-color: #000000;
}

.ap-ui{
    opacity: 0.6;
    filter: alpha(opacity = 60) black;
}

.logo{
    position: relative;
    float: left;
    width: 65px;
    height: 18px;
    top: -530px;
    left: 30px;
    font-family: 'Sansation';
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: normal;
    text-align: left;
    transform-origin: left;
    transform: scale(0.9, 1);
    color: #ffffff;
}

.logo_red{
    color: #da2346;
}

.main_menu{
    position: relative;
    float: right;
    top: -530px;
    right: 175px;
    width: 637px;
    height: 19px;
}

.main_menu li{
    float: left;
    padding: 0 20px;
    transform-origin: left;
    transform: scale(0.7, 1);
    line-height: 1.3;   
    font-family: 'Sansation';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: right;
}

.main_menu li a{
    text-decoration: none;
    color: #ffffff;
}

.main_menu li a .choosen_li{
    color: #097e89;
}