@import url(//db.onlinewebfonts.com/c/00370d92f1b404768d34ac7dc664289e?family=Sansation);
@import url(//db.onlinewebfonts.com/c/203a9484bfdc47e34b3ef212bab9adc1?family=Sansation);

* {
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
}

.container{
    margin: 0 auto;
    width: 1000px;
}

.main_service{
    position: relative;
    width: 1000px;
    height: 552px;
    background-color: #000000;
}

.ap-ui{
    opacity: 0.6;
    filter: alpha(opacity = 60) black;
}

.logo{
    position: absolute;
    float: left;
    width: 65px;
    height: 18px;
    top: 23px;
    left: 30px;
    font-family: 'Sansation';
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: normal;
    text-align: left;
    transform-origin: left;
    transform: scale(0.97, 1);
    color: #ffffff;
}

.logo_red{
    color: #da2346;
}

.main_menu{
    position: absolute;
    top: 22px;
    left: 177px;
    width: 707px;
    height: 19px;
}

.main_menu li{
    float: left;
    margin: 0 15px;
    transform-origin: left;
    transform: scale(0.6, 1);
    line-height: 0.8;   
    font-family: 'Sansation';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    text-align: right;
}

.main_menu li a{
    text-decoration: none;
    color: #ffffff;
}

.main_menu li .choosen_li, .main_menu li a:hover{
    color: #097e89;
}

.refs_social{
    position: absolute;
    top: 14px;  
    left: 869px;
}

.refs_social li{
    float: left;
    padding: 2.5px;
}

.refs_social li a{
    text-decoration: none;
}

.fb-icon {
    width: 8px;
    height: 12px;
    object-fit: contain;
    opacity: 0.7;
}

.tw-icon {
    width: 10px;
    height: 10px;
    object-fit: contain;
    opacity: 0.7;
}

.g-icon {
    width: 13px;
    height: 10px;
    object-fit: contain;
    opacity: 0.7;
}

.facebook_li, .twitter_li, .google_li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 29px;
    border-radius: 50%;
    border: solid 1px #ffffff;
}

.refs_social span:hover{
    background-color: #352767;    
}

.hor_line{
    position: absolute;
    top: 61px;
    width: 998px;
    height: 1px;
    opacity: 0.2;
    background-color: #ffffff;
}

.main_banner{
    position: absolute;
    width: 535px;
    height: 196px;
    left: 231px;
    top: 188px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.best_services{
    position: absolute;
    top: 48px;
    left: 70px;
    display: inline-block;
    width: 479px;
    height: 35px;
    font-family: Sansation;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.81;
    letter-spacing: 0.9px;
    text-align: left;
    transform-origin: left;
    transform: scale(0.83, 1);
    color: #ffffff;    
}

.description{
    position: absolute;
    top: 108px;
    left: 93px;
    display: inline-block;
    width: 392px;
    height: 29px;
    opacity: 0.7;
    font-family: Sansation;
    font-size: 10.5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    transform-origin: left;
    transform: scale(0.87, 1);
    color: rgba(255, 255, 255, 0.7);
}

.main_service a{
    text-decoration: none;
}

.arrow_left{
    position: absolute;
    top: 288px;
    left: 44px;  
}

.arrow_right{
    position: absolute;
    top: 288px;
    right: 43px;    
}

.arrow_left, .arrow_right{
    width: 26px;
    height: 31px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.2);
    font-family: monospace;
    font-size: 30px;
    font-weight: lighter;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
}

.arrow_left:hover, .arrow_right:hover{
    background-color: #352767;    
}

